.menu {
    text-align: center;
    background-color: rgba(80, 131, 189, 0.278);
    border-radius: 25px;
    position: sticky;
    top: 0;
    font-size: larger;
    z-index: 999999;
  
  }
  
  
  .logo {
    width: 30px;
  }
  
  a {
    color: rgb(235, 111, 200);
    text-shadow: 5px 5px 10px blue;
  }
  
  body {
    background-image: url(imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Sans";
    background-attachment: fixed;
  }
  
  li {
    display: inline;
    width: 5cm;
  }
  
  h1 {
    text-align: center;
    text-shadow: 5px 5px 10px rgb(235, 111, 200);
  }
  
  .articulo1 {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(235, 111, 200, 0.688);
    box-shadow: 5px 5px 10px rgb(222, 20, 229);
    border-radius: 5px;
  }

    
  .articulo1 img{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width:250px;
    float: left;
}

.articulo1 h2{
    padding-top: 7px;
    margin-left: 27%;    
    text-align: left;
}

.articulo1 h4{
    margin-left: 27%;
  text-align: center;
}

.texto{padding-left: 50%;
  padding-top: 10%;
  padding-right: 20%;
  padding-bottom: 10%;
}

.articulo2{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 10%;
  background-color: rgba(235, 111, 200, 0.688);
  box-shadow: 5px 5px 10px rgb(222, 20, 229);
  border-radius: 5px;
  text-align:center;
}

h3{
  padding-top: 15px;
}

table,th,td{
  border-collapse: collapse;
  border: blue 3px solid;
  text-align: center;
}

table{
  width: 90%;
  height:80%;
  margin: 5%;
  box-shadow:  5px 5px 10px rgb(222, 20, 229);
  margin-bottom: 10%;
  
}

  footer {
    text-align: center;
    background-color: rgba(34, 89, 98, 0.389);
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    margin-bottom: 1%;
    width: 100%;
  }
  
  .redesSociales {
    text-align: right;
    margin-right: 2%;
  }

  

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(137, 20, 146);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(204, 88, 204);
    border-radius: 10px;
  }